<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="ro.alyn_sampmobile.game" />
        <package android:name="ro.alyn_sampmobile.launcher" />
        <package android:name="ro.alyn_sampmobile" />
        <package android:name="ro.alynsampmobile.game" />
        <package android:name="ro.alynsampmobile.launcher" />
        <package android:name="ro.alynsampmobile" />
        <package android:name="com.rockstargames.gtasa" />
        <package android:name="ru.unisamp_mobile.game" />
        <package android:name="ru.unisamp_mobile.launcher" />
        <package android:name="com.samp.mobile" />
        <package android:name="com.samp.launcher" />
        <package android:name="com.arizona.game" />
        <package android:name="com.liverussia.cr" />
        <package android:name="com.blackrussia.online" />
        <package android:name="ru.crmp.mobile" />
        <package android:name="com.gtasa.launcher" />
        <package android:name="com.samp.android" />
        <package android:name="com.sanandreas.samp" />
        <package android:name="com.fsl.samp" />
        <package android:name="com.santrope.game" />
        <package android:name="com.mordor.game" />
        <package android:name="com.br.top" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="samp" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
